<div fxLayout="column" fxLayout.gt-md="row">
  <md-card fxFlex.gt-md="300px" style="margin-right: 16px;">
    <md-card-title>Register Device</md-card-title>
    <md-card-content fxLayout="column">
      <div>
      <md-progress-bar *ngIf="isLoading" class="example-margin" [color]="'primary'" [mode]="'indeterminate'">
      </md-progress-bar>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <ul class="errors-list" *ngIf="errors.length >= 1">
        <li class="errors-list-item" *ngFor="let error of errors">{{error.message}}</li>
      </ul>
    </div>
      <form #form="ngForm" (ngSubmit)="registerDevice()">
      <div class="login-content" fxLayout="column" fxLayoutAlign="start stretch">
        <md-input-container>
          <input mdInput placeholder="Name" type="text" name="name" required [(ngModel)]="name">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="DevEUI" type="text" name="devEUI" required [(ngModel)]="devEUI">
        </md-input-container>
        <md-input-container>
           <textarea mdInput placeholder="Description" type="text" name="description" required [(ngModel)]="description"></textarea>
        </md-input-container>
        <button color="primary" md-raised-button [disabled]="!form.valid || isLoading">Register Device</button>
      </div>
    </form>
    </md-card-content>
  </md-card>

  <div fxFlex class="mat-elevation-z2">

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>DevEUI</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let device of devices">
        <td>{{ device.name }}</td>
        <td>{{ device.devEUI}}</td>
        <td *ngIf="device.uplinks.length > 0">{{ device.uplinks[device.uplinks.length-1].latitude }}</td>
        <td *ngIf="device.uplinks.length <= 0">-</td>
        <td *ngIf="device.uplinks.length > 0">{{ device.uplinks[device.uplinks.length-1].longitude }}</td>
        <td *ngIf="device.uplinks.length <= 0">-</td>
        <td *ngIf="device.active">Active</td>
        <td *ngIf="!device.active">Inactive</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
