<div fxLayout="column" fxLayout.gt-md="row">
  <div fxFlex class="mat-elevation-z2">

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>DevEUI</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let device of devices">
        <td>{{ device.name }}</td>
        <td>{{ device.devEUI}}</td>
        <td *ngIf="device.uplinks.length > 0">{{ device.uplinks[device.uplinks.length-1].longitude }}</td>
        <td *ngIf="device.uplinks.length <= 0">-</td>
        <td *ngIf="device.uplinks.length > 0">{{ device.uplinks[device.uplinks.length-1].latitude }}</td>
        <td *ngIf="device.uplinks.length <= 0">-</td>
        <td *ngIf="device.uplinks.length > 0">Active</td>
        <td *ngIf="device.uplinks.length <= 0">Inactive</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
<md-card fxFlex="80%" fxFlex.sm="90%">
                    <md-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <md-input-container fxFlex>
                          <input mdInput
                                 placeholder="First Name">
                        </md-input-container>
                        <md-input-container fxFlex>
                          <input mdInput
                                 placeholder="Last Name">
                        </md-input-container>
                      </div>
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <md-input-container fxFlex dividerColor="accent">
                          <input mdInput
                                 placeholder="Pre-filled Input + Accent color" value="Material Design">
                        </md-input-container>
                      </div>
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <md-input-container fxFlex>
                          <input mdInput
                                 placeholder="Address">
                          <span md-prefix><md-icon>place</md-icon></span>
                        </md-input-container>
                        <md-input-container fxFlex>
                          <input mdInput
                                 placeholder="City">
                          <span md-prefix><md-icon>location_city</md-icon></span>
                        </md-input-container>
                        <md-input-container fxFlex>
                          <input mdInput
                                 placeholder="Country">
                          <span md-suffix><md-icon>local_airport</md-icon></span>
                        </md-input-container>
                      </div>
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <md-input-container fxFlex>
                          <input mdInput
                                 placeholder="Character count (max. 100)"
                                 maxlength="100"
                                 #characterCountHintExample
                                 value="Hello! How are you today?">
                          <md-hint align="end">{{ characterCountHintExample.value.length }} / 100</md-hint>
                        </md-input-container>
                      </div>
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <md-input-container fxFlex>
                          <input mdInput
                                 placeholder="Primary Color">
                        </md-input-container>
                        <md-input-container dividerColor="accent" fxFlex>
                          <input mdInput
                                 placeholder="Accent Color">
                        </md-input-container>
                        <md-input-container dividerColor="warn" fxFlex>
                          <input mdInput
                                 placeholder="Warn Color">
                        </md-input-container>
                      </div>
                    </md-card-content>
                  </md-card>
